body
  margin: 0
  text-align: center
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  background-color: #fffef4

#footer, #header
  width: 100%
  color: #ffffff
  .icon
    display: inline-block

#header
  #right-header
    right: 0
    z-index: 1
    position: absolute
    background: rgba(0, 0, 0, 0.5)
    padding: 10px 20px 15px 20px

    border-radius: 0 0 0 10px
    -webkit-border-radius: 0 0 0 10px
    -moz-border-radius: 0 0 0 10px

    text-align: right
    .title
      font-size: 32px
      text-decoration: none
      color: #ffffff
    .contacts
      font-size: 12px
      margin: 5px 0 0 0
      .phone
        margin: 1px 20px 1px 0
        display: block
        a
          display: inline-block
          color: #ffffff
          text-decoration: none
          &.number
            font-size: 14px
            font-weight: 300
            margin: 0 0 0 5px
          &:hover
            text-decoration: underline
        .icon
          position: absolute
          margin: 1px 0 0 4px

#content
  z-index: 1
  position: absolute
  width: 100%
  margin: 135px 0 0 0
  #popup
    background: rgba(0, 0, 0, 0.75)
    padding: 10px 20px 15px 20px
    border-radius: 10px
    width: 75%
    margin: 0 auto
    color: white


#footer
  bottom: 0
  background: rgba(0, 0, 0, 0.5)
  position: absolute
  z-index: 1

  #copy-rights
    position: absolute
    font-size: 12px
    background-color: rgba(0,0,0,0.5)
    padding: 0 5px
    line-height: 20px
    border-radius: 4px
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    bottom: 6px
    left: 6px

  #schedule-button
    height: 43px
    line-height: 44px
    background-color: #e74c3c
    margin: 8px 0
    padding: 0 25px
    font-size: 15px
    cursor: pointer
    display: inline-block

    border: 1px solid transparent

    border-radius: 4px
    -webkit-border-radius: 4px
    -moz-border-radius: 4px

    &:hover
      background-color: #d62c1a
      border-color: #cd2a19

  #social-buttons
    position: absolute
    right: 0
    margin: -50px 10px 0 0
