$brand-primary: #80807b

@import bootstrap/_variables

@import bootstrap/mixins/_clearfix
@import bootstrap/mixins/_border-radius
@import bootstrap/mixins/_vendor-prefixes
@import bootstrap/mixins/_buttons
@import bootstrap/mixins/_tab-focus
@import bootstrap/mixins/_opacity

@import bootstrap/_buttons
@import bootstrap/_button-groups
@import bootstrap/_glyphicons

@import css/layout/header
@import css/layout/footer

@import css/price
@import css/schedule

body
  margin: 0
  text-align: center
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  background-color: #fffef4
  color: #fff
  a
    color: white
    text-decoration: none

#footer, #header
  width: 100%
  color: #ffffff
  .icon
    display: inline-block

#content
  z-index: 1
  position: absolute
  margin: 128px 10%
  width: 80%
  #popup
    background: rgba(0, 0, 0, 0.75)
    padding: 10px 20px 15px 20px
    border-radius: 10px
    box-sizing: border-box
    h1
      margin: 10px 0 5px 0
    .menu
      margin: 0 0 10px 0
