body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#footer, #header {
  width: 100%;
  position: absolute;
  z-index: 1;
}

#footer {
  margin: -50px 0 0 0;
}

#schedule-button {
  height: 50px;
  line-height: 50px;
  background-color: #e74c3c;
  color: white;
  padding: 0 25px;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;

  border: 1px solid transparent;

  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}

#schedule-button:hover {
  background-color: #d62c1a;
  border-color: #cd2a19;
}
