#content
  z-index: 1
  position: absolute
  margin: 128px 10%
  width: 80%
  #popup
    background: rgba(0, 0, 0, 0.75)
    padding: 10px 20px 15px 20px
    border-radius: 10px
    box-sizing: border-box
    h1
      margin: 10px 0 5px 0
    .menu
      margin: 0 0 10px 0

.mobile
  #content
    width: 94%
    margin: 128px 3%
    #popup
      h1
        font-size: 24px
        margin: 0 0 5px 0
      .cars
        a
          width: 50%