#footer
  bottom: 0
  background: rgba(0, 0, 0, 0.5)
  position: absolute
  z-index: 1
  min-height: 50px

  #copy-rights
    position: absolute
    font-size: 12px
    background-color: rgba(0,0,0,0.5)
    padding: 0 5px
    line-height: 20px
    border-radius: 4px
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    bottom: 5px
    left: 10px

  #request-button
    height: 32px
    line-height: 32px
    margin: 9px 0 0 0
    padding: 0 25px
    font-size: 15px
    cursor: pointer
    display: inline-block
    border: 1px solid transparent
    border-radius: 4px
    -webkit-border-radius: 4px
    -moz-border-radius: 4px

  #social-buttons
    position: absolute
    right: 10px
    bottom: 0

.mobile
  #footer
    min-height: 40px
    #copy-rights
      display: none
    #social-buttons
      position: relative
      right: inherit
      height: 40px